
.index-search
    height 100%
    width 100%
    padding:10px 2px
    .flex-row
        height: 100%
        width: 100%
        margin: 0 !important
        .flex-col
            height: 100%
            .gutter-row
                height: 100%
                width: 100%
                background-color: #fff
            .gutter-row.tags
                padding: 20px
            .input-box
                padding: 20px 30px
                .search-input
                    width 100%
                    max-width 250px
                    margin-bottom 20px
                    margin-right 15px
        